<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="/public/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/public/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/public/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/public/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/public/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/public/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/public/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/public/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/public/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/public/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        
        <!-- áp dụng font - family -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&display=swap" rel="stylesheet">
        
        <!-- áp dụng css  -->
        <link rel="stylesheet" href="/public/css/reset.css" />
        <link rel="stylesheet" href="/public/css/style.css" />
        <link rel="stylesheet" href="/public/css/taikhoan.css" />
        
    <title>Thông tin sự kiện</title>
</head>
<body>
    <header class="menu">
       <a  href="/views/trangChu.html"><img class="logo" src="/public/images/logo.png" alt="Logo"></a>
       <nav >
        <ul class = "menu--detail">
            <li ><a class="vanban" href="/views/muaVe.html">MUA VÉ</a></li>
            <li ><a class="vanban" href="/views/faq.html">FAQ</a></li>
            <li ><a class="vanban" href="/views/suKien.html">SỰ KIỆN</a></li>
            <nav class ="nav" >
                <a class="vanban" href="#" id="accountLink">TÀI KHOẢN</a>
                <div class="dropdown" id="dropdown">
                    <a href="/views/taikhoan.html" data-page="account">Tài khoản của tôi</a>
                    <a href="#" data-page="tickets">Vé đã mua</a>
                    <a href="#" data-page="LogOut">Đăng xuất</a>
                </div>
            </nav>
          </ul>
       </nav>
    </header>
    <div class="content" id="content"></div>
    
    <div class="footer" sytle="margin-top:0 !important;">
        <div class="footer-content">
            <img src="/public/icons/Ảnh đại diện.svg" alt="Logo" style="user-select: none;">
                <div class="lienhe" >
                    <div class="mang-xa-hoi" style="user-select: none;">
                        <a href="https://www.facebook.com/hobbyhorizonvn" target="_blank"><img src="/public/images/Icon/facebook-svgrepo-com.svg" alt="Facebook"  style ="width:3.4rem;height:auto"></a>
                        <a href="https://www.instagram.com/hobbyhorizonvn/" target="_blank"><img src="/public/images/Icon/instagram-167-svgrepo-com.svg" alt="Instagram"  style ="width:3.4rem;height:auto"></a>
                        <a href="https://www.youtube.com/channel/UC9J6J9ZQ1J1jJ6Z9Zv9J9JQ" target="_blank"><img src="/public/images/Icon/X.jpg" alt="Youtube" style ="width:3.4rem;height:auto"></a>
                    </div>
                    <p class="vanban">Mail: marketing@hobbyhorizon.vn</p>
                    <p class="vanban">Trụ sở: 78 Đ. Huỳnh Văn Nghệ, Phường 12, Gò Vấp, Hồ Chí Minh</p>
                </div>
        </div>
    </div>
    <script src="/public/javascript/tai_khoan.js"></script>
</body>
</html>